[data-hide-on] {
  position: relative;

  &::before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    font-size: 10px;
    font-family: Arial;
    font-weight: 400;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    padding: 2px 5px;
    opacity: 0.5;
  }
}

[data-hide-on]::before {
  content: 'Hide on ' attr(data-hide-on);
}

[data-preview-hidden-blocks] {
  @import './frontend';
}
