@import 'node_modules/@wordpress/base-styles/breakpoints';

@media (max-width: #{$break-small - 1px}) {
  [data-hide-on*="mobile"] {
    display: none !important;
  }
}

@media (min-width: #{$break-small}) and (max-width: #{$break-large - 1px}) {
  [data-hide-on*="tablet"] {
    display: none !important;
  }
}

@media (min-width: #{$break-large}) {
  [data-hide-on*="desktop"] {
    display: none !important;
  }
}
